body, html, p, h1, h2, h3, h4, h5, h6, span{
	font-family: 'Montserrat', sans-serif;
	// font-family: 'Roboto', sans-serif;
}

.weather-app {
    height: 100vh;
    overflow: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	padding-top: 5rem;

	.errors-modal {
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		z-index: 99;
		display: flex;
		align-items: center;
		justify-content: center;

		.errors.container {
				max-width: 400px;
				text-align: center;
				background-color: #b42020;
				padding: 2rem;
				color: #ffffff;
				border-radius: 20px;
		}

		.stiil-loading{
			position: relative;
			z-index: 99;
		}
	}

	.header-blur-effect {
		position: absolute;
		transition: all 0.5s ease-in-out;
		top: 0vh;
		display: block;
		background: rgb(0 0 0 / 5%) 0% 0% no-repeat padding-box;
		opacity: 1;
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(6px);
		width: 100vw;
		z-index: 0;
		height: 100vh;
	}

	.info-container{
		position: relative;
		z-index: 1;
	}

	.container{
		position: relative;
		z-index: 1;
		.weather-side{
			position: relative;
			overflow: hidden;
			border: 1px solid #ffffff;
			border-radius: 20px;
			padding: 3rem;
			padding-top: 2rem;
			color: #ffffff;

			.location {
				margin-bottom: 5rem;
				margin-top: 1rem;
			}
			.date-day {
				font-weight: 300;
			}
			.weather-temp {
				font-size: 70px;
				font-weight: 100;
			}
		}

		.info-side{
			position: relative;
			overflow: hidden;
			padding: 1rem;
			padding-top: 0px;
			color: #ffffff;
			.today-info-container{
				.today-info{
					background-color: rgb(0 0 0 / 8%);
					border-radius: 20px;
					padding: 24px;
					margin-bottom: 1rem;

					.inputs {
						margin-bottom: 1.5rem;
						.form-control {
							border: 0px !important;
							border-radius: 8px !important;
						}
					}

					.title {
						margin-right: 3rem;
						min-width: 15%;
						display: inline-block;
						font-size: 12px;
					}
					.value {
						font-weight: 700;
						font-style: italic;
					}

					.message-container {
						p {
							margin-bottom: 0px;
							margin-top: 1rem;
						}
					}

					.temp-toggle {
						display: flex;
						align-items: center;
						a {
							border: 1px solid #ffffff;
							color: #ffffff;
							border-radius: 5px;
							padding: 6px 10px;
							text-decoration: none;
							transition: all .3s ease;
							&:first-child{
								margin-right: 1rem;
							}

							&.active{
								background-color: #ffffff;
								color: #0066b2;
							}
						}
					}
				}
			}

			.week-container{

				&.weekdays{
					border-bottom: 1px solid rgb(255 255 255 / 25%);
					padding-bottom: 1rem;
    				margin-bottom: 1rem;
				}
				
				.week-list {
					list-style-type: none;
					padding: 0;
					display: flex;
					flex-wrap: wrap;
					li{
						cursor: pointer;
						text-align: center;
						background-color: transparent;
						transition: all .3s ease-in-out;
						margin: 2px;
						
						padding: 8px;
						padding-bottom: 10px;
						
						img {
							width: 80px;
						}
						span{
							display: block;

							&.day-name {
								font-size: 14px;
    							margin-bottom: 6px;
							}

							&.day-temp {
								font-weight: 800;
							}
						}

						&.active, &:hover {
							background-color: rgb(0 0 0 / 20%);
							border-radius: 20px;
						}
					}
					&.week-times{

					}
				}
				
			}
			
		}
		
	}

}

@media(max-width: 800px){
	.week-list{
		flex-wrap:wrap;
		li{
			width: 32%;
		}
	}

	.info-side{
		margin-top: 1rem;
	}

	.weather-app{
		padding-top: 1rem !important;
	}

	.location{
		margin-bottom: 2.5rem !important;
	}

	.title{
		width: 30% !important;
	}
}
